<div class="login-container">
<p>Whereabouts is an app that let’s you share posts about unique and interesting spots around the world. Click ‘Add A Post’ to create a geotagged post about an unknown, overlooked, or just plain cool place you want the world to experience!</p>
<p>Whereabouts was created by:</p>
  <ul>
    <a href="https://github.com/jlincolndennis"><li>Lincoln Dennis</li></a>
    <a href="https://github.com/nickmac23"><li>Nick MacIntyre</li></a>
    <a href="https://github.com/blakeface"><li>Blake Netzeband</li></a>
    <a href="https://github.com/summerwollin"><li>Summer Wollin</li></a>
</div>
