<div class="index row">

  <div class="map col-md-5 col-xs-12">
    <div class="thumbnail">
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
      <div  id="map" style='height: 400px; width: 100%;'></div>
      <div class="caption">


        <label class="col-lg-3 control-label">Mile radius: </label>
        <div class="col-lg-3">
          <input type="number" class="form-control" id='radius' name="dis" value='{{this.dis}}' >
        </div>

        <input type="button" class="btn btn-default" id='geo' value="Locate you">

      </div>

    </div>

  </div>

  <div class="col-arrow col-xs-1">
    <input class="nextarrow" type="image" src="/images/leftarrow.png">
  </div>

  <div class="posts col-md-5 col-xs-9">
  </div>

  <div class="col-arrow col-xs-1">
    <input class="nextarrow" type="image" src="/images/rightarrow.png">
  </div>


</div>

<div class="contribute row">
  <div class="col-md-5 col-xs-10">
    <a href="/posts">
      <img src="" alt="" />
    </a>
  </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY6IF5KZuqMBt61jyVNQshduxTFUArNZY&libraries=places&callback=initAutocomplete" async defer></script>
<script type="text/javascript" src='/javascripts/indexClient.js'></script>
