<div class="posts col-lg-7">
</div>

</div>
<div class="row" >
  <div class="col-lg-5">
    <div class="thumbnail">
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
      <div  id="map" style='height: 400px; width: 100%;'></div>
      <div class="caption">
        <form class="form-horizontal" action='/' method='post'>
          <fieldset>
            <div class="form-group">
              <label class="col-lg-1 control-label">lat: </label>
              <div class="col-lg-2">
                <input type="text" class="form-control" id='x' name="lat" placeholder="lat">
              </div>
              <label class="col-lg-1 control-label">lng: </label>
              <div class="col-lg-2">
                <input type="text" class="form-control" id='y' name="lng" placeholder="long">
              </div>
            </div>
          </fieldset>
          <p><input type="submit" class="btn btn-default" name="name" value="submit">
        </form>
        <div>
        <label class="col-lg-3 control-label">Mile radius: </label>
        <div class="col-lg-3">
          <input type="number" class="form-control" id='radius' name="dis" value='{{this.dis}}' >
        </div>
        <input type="button" class="btn btn-default" id='geo' value="Locate you">

      </div>
    </div>
  </div>
</div>
<!-- <div class="col-md-6 ">
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div  id="map" style='height: 500px; width: 500px;'></div>
  <div class="col-md-7">
    <input type="number" name="radius" id='radius' value="5">
    <form class="" action="/post" method="post">
      <input type="text" id='x' name="lat" value="lat">
      <input type="text" id='y' name="lng" value="lng">
      <input type="submit" name="name" value="">
      <input type="button" name="sup" id='sup' value="sup">
    </form>
  </div>
</div> -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY6IF5KZuqMBt61jyVNQshduxTFUArNZY&libraries=places&callback=initAutocomplete"
async defer></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src='javascripts/indexClient.js'></script>
