
<div class="row">
  <div class="map col-xs-12 col-lg-6">
    <div class="thumbnail" value='{{session.user_id}}'>
    <div class='map-search-bar'>
    <input id="pac-input" class="controls dis form-control" type="text" placeholder="Search for Places or Posts...">
    </div>
      <img id='gif' src="/images/loading.gif" style='display:none; height:100%; width:100%;'>
      <div  id="map" class='dis'style='height: 400px; width: 100%;' role="map"></div>
      <div class="map-details">

        <div class='find-my-location'>
        <input type="button" class="btn btn-info btn-block dis" id='geo' value="Find My Location">
      </div>

        <div class="radius-container dis form-inline">
          <div class='form-group'>
          <label class="control-label">Show me posts within </label>
          <input type="number" class="radius-form" id='radius' name="dis" value='10' >
          <label class="control-label">miles of me! </label>
        </div>

        </div>
      </div>
    </div>
  </div>




  <div class="index-posts postsCon col-lg-6 col-xs-12" role="list of content">
    <input class="nextarrow" id='back' type="image" style='float:left;' src="/images/leftarrow.png">

    <input class="nextarrow" id='next' type="image" style='float:right;' src="/images/rightarrow.png">
    <br>
    <br>
    <div class="posts">
    </div>
  </div>




<div class="contribute row">
  <div class="contribute-button col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-2 col-xs-offset-1">
    <a href="/posts/add">
      <input class="post-button" type="button" value="Add a post"/>
    </a>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY6IF5KZuqMBt61jyVNQshduxTFUArNZY&libraries=places&callback=initAutocomplete" async defer></script>
<script type="text/javascript" src='/javascripts/indexClient.js'></script>
