<div class="login-container col-md-6 col-md-offset-3 col-xs-12">

  <p class="login-message">Invalid username and password</p>


  <h1>Login</h1>

  <p>
    Don't have an account? <a href="/signup">Click Here to Sign Up!</a>
  </p>
  <p>
    <a href="/auth/github" class="btn btn-lrg btn-social btn-github">
  <span class="fa fa-github"></span> Login with GitHub</a>
</p>
<p>-OR-</p>
<p>Enter your login information below.</p>
<p>All fields are <strong>Case Sensitive!</strong></p>

  <form method="POST" action="/auth/login">
    <fieldset class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name='username' id="username" autofocus="true">
    </fieldset>
    <fieldset class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name='password' id="password">
    </fieldset>

    <input type="submit" class="btn btn-primary btn-lg" value="Login">
  </form>

</div>
