<h1>{{title}}</h1>
<p><a href='/'>Home</a></p>
<p>This page should only be accessible by the author of the post</p>


<div class="row">

  <div class="col-xs-1 col-md-2"></div>
  <div class="col-xs-10 col-md-8">

    <form method="POST" action="/posts/add">
      <fieldset class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name='title' id="title" autofocus>
      </fieldset>
      <fieldset class="form-group">
        <label for="lat">Location Latitude</label>
        <input type="text" class="form-control" name='lat' id="lat">
      </fieldset>
      <fieldset class="form-group">
        <label for="lng">Location Longitude</label>
        <input type="text" class="form-control" name='lng' id="lng">
      </fieldset>
      <fieldset class="form-group">
        <label for="img_link">Image Link</label>
        <input type="text" class="form-control" name='img_link' id="img_link">
      </fieldset>
      <fieldset class="form-group">
        <label for="description">Post</label>
        <textarea class="form-control" name='description' id="description"></textarea>
      </fieldset>
      <input type="submit" class="btn btn-primary btn-lg" value="Post">
    </form>

  </div>
  <div class="col-xs-1 col-md-2"></div>

</div>
