<div class="post-details col-md-8 col-md-offset-2 col-xs-12">
  {{#user}}
  <div class="col-lg-12" style='display: flex; align-items: row'>
    <img  src="{{this.avatar}}" alt="NoImg" style=' width: 50px; height: 50px; margin-right: 10px;'>
    <h1 id='user' class='{{this.user_id}}'>{{this.username}}</h1>
  </div>
  <div  id="map" style='height: 200px; width: 100%;'></div>
  <h2>{{this.username}}'s Posts</h2>

{{/user}}
  <div class="posts" style='overflow: scroll; height: 300px;'>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY6IF5KZuqMBt61jyVNQshduxTFUArNZY&libraries=places&callback=initAutocomplete" async defer></script>
<script type="text/javascript" src='/javascripts/users.js'></script>
