<h1>Admin Area</h1><br><br>

<table>
    <thead>
     <tr>
       <th>User ID</th>
       <th>Email</th>
       <th>username</th>
       <th>Delete</th>
     </tr>
   </thead>
  <tbody>
    {{#users}}
      <tr>
        <td>{{id}}</td>
        <td>{{email}}</td>
        <td>{{username}}</td>
        <td><a href="/users/{{id}}/delete">Delete</a></td>
      </tr>
    {{/users}}
  </tbody>
 </table>
