.postform, .post-details {
  padding: 15px;
  border-radius: 10px;
  background: white; }

.postform .btn {
  background: #5db485; }

.postform .btn:hover {
  background: #20844e; }

.postform .btn:active {
  background: #FF9F83; }

.media.data {
  padding-bottom: 15px;
  border-bottom: 1px solid #6e6e6e; }

.post-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.post-rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px; }

.post-rating-container input {
  max-height: 15px;
  width: auto; }

.post-rating-container input:focus {
  outline: none;
  transform: scale(1.5, 1.5); }

.post-rating-container form {
  max-height: 15px; }

.rating {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px; }

.post-map-image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 400px; }

.post-map-image img {
  width: 49%;
  max-height: 400px; }

.post-vote {
  display: flex;
  flex-direction: row; }

.post-description {
  padding-top: 15px;
  text-align: justify;
  width: 100%; }

.comment-footer {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.comment-name {
  margin-right: 15px; }

.error {
  color: red;
  margin: 0px;
  font-weight: bold; }

.location-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px; }

.location-container input {
  border: 1px solid #cccccc;
  border-radius: 5px;
  height: 34px;
  padding: 6px; }

.location-container #pac-input {
  width: 100%; }

.location-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.userform, .userdelete {
  padding: 15px;
  border-radius: 10px;
  background: white; }

.userform .btn {
  background: #5db485; }

.userform .btn:hover {
  background: #20844e; }

.login-message {
  border: 1px solid red;
  border-radius: 5px;
  padding: 15px; }

@font-face {
  font-family: "basic title font";
  src: url("/fonts/basictitlefont.ttf"); }

@font-face {
  font-family: "caviar dreams";
  src: url("/fonts/CaviarDreams.ttf"); }

@font-face {
  font-family: "caviar dreams";
  src: url("/fonts/CaviarDreams_Bold.ttf");
  font-weight: bold; }

@font-face {
  font-family: "caviar dreams";
  src: url("/fonts/CaviarDreams_BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "caviar dreams";
  src: url("/fonts/CaviarDreams_Italic.ttf");
  font-style: italic; }

body {
  padding-top: 70px;
  background: #BCD6E4;
  font-family: caviar dreams;
  padding-right: 30px;
  padding-left: 30px; }

#globeicon {
  height: 30px;
  width: auto;
  margin-top: -5px;
  float: left; }

.navbar {
  background: white; }

.posts {
  padding: 15px;
  border-radius: 10px;
  background: white;
  margin: 0px;
  box-shadow: 0 5px #575757; }

.media-data {
  max-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 5px; }

.thumbnail {
  box-shadow: 0 5px #575757; }

.posts img {
  height: 32px;
  width: 32px; }

.post-title {
  font-weight: 900;
  color: #5DB485;
  margin-bottom: -5px; }

.post-author {
  color: #FFC683; }

.posts a {
  text-decoration: none; }

.index .posts, .index .thumbnail {
  height: 75vh;
  overflow: scroll;
  margin-bottom: 15px; }

.votearrow {
  width: 15px;
  height: 10px;
  margin-top: 2px;
  margin-bottom: 2px; }

.votearrow-box {
  display: flex;
  flex-direction: column; }

.nextarrow {
  width: 15px;
  height: auto;
  padding: 0px;
  margin: 0px; }

.nextarrow:active, .votearrow:active {
  transform: scale(1.5, 1.5); }

.nextarrow:focus, .votearrow:focus {
  outline: none; }

.col-arrow-left {
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: space-around;
  align-items: flex-end; }

.col-arrow-right {
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: space-around;
  align-items: flex-start; }

.login-container {
  padding: 15px;
  border-radius: 10px;
  background: white; }

.radius-form {
  width: 100px; }

.map-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  align-items: flex-end;
  margin-top: 20px; }

.map-details input {
  height: 30px; }

.control-label {
  margin: 0px;
  padding: 0px; }

.media-right {
  display: flex;
  flex-direction: row;
  align-items: center; }

.media-right h5 {
  margin-right: 5px; }

.list-group-item-text {
  margin: 0px; }

.contribute-button {
  width: 100%; }

.app-name {
  margin: 0;
  float: left;
  font-family: basic title font; }

.post-button {
  font-family: basic title font;
  border: none;
  background: none;
  color: #215977;
  font-size: 60px;
  text-align: center;
  text-decoration: underline;
  width: auto;
  justify-content: center; }

.post-button:active, .post-button:focus {
  outline: none;
  color: #5B89A1; }
