body {
  padding-top: 70px;
  background: #FAFAFA;
  font-family: roboto;
}

.globeicon {
  height: 30px;
  width: auto;
  margin-top: -5px;
}

.navbar {
  background: white;
}

.posts {
  padding: 15px;
  border-radius: 10px;
  background: white;
  
}

.posts img {
  width: 150px;
  height: auto;
}

.posts h4 {
  font-weight: 900;
  color: #5db485;
}
