body {
  background: #FAFAFA;
}

.form {
  padding: 15px;
  border-radius: 10px;
  background: white;
}

.form .btn, .form .btn-primary, .form .btn-lg {
  background: #30ee88;
}

.form .btn:hover, .form .btn-primary:hover, .form .btn-lg:hover {
  background: #00d563;
}

.form .btn:active, .form .btn-primary:active, .form .btn-lg:active {
  background: #00d563;
}
