.postform, .post-details {
  padding: 15px;
  border-radius: 10px;
  background: white;
}

.postform .btn {
  background: #5db485;
}

.postform .btn:hover {
  background: #20844e;
}

.postform .btn:active {
  background: #FF9F83;
}

.media.data {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(110, 110, 110);
}

.post-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.post-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.post-rating-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.post-rating-container input {
  max-height: 15px;
  width: auto;
}

.rating {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 8px;
}

.post-map-image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.post-map {
  background: purple;
  width: 45%;
  max-height: 200px;
}

.post-map-image img {
  width: 45%;
  max-height: 200px;
}

.post-vote {
  display: flex;
  flex-direction: row;
}

.post-description {
  padding-top: 15px;
  text-align: justify;
  width: 100%;
}

.comment-footer {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.comment-name {
  margin-right: 15px;
}

.error {
  color: red;
  margin: 0px;
  font-weight: bold;
}

.location-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.location-container input {
  border: 1px solid #cccccc;
  border-radius: 5px;
  height: 34px;
  padding: 6px;
}

.location-container #pac-input {
  width: 100%;
}

.location-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-arrow-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
