.postform, .post-details {
  padding: 15px;
  border-radius: 10px;
  background: white;
}

.post-details {
  box-shadow: 0 -5px rgb(87, 87, 87);
  margin-bottom: 30px;
}

.postform .btn {
  background: #5db485;
}

.postform .btn:hover {
  background: #20844e;
}

.postform .btn:active {
  background: #FF9F83;
}

.media.data {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(110, 110, 110);
}

.post-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.post-rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.post-rating-container input {
  max-height: 15px;
  width: auto;
}

.post-rating-container input:focus {
  outline: none;
  transform: scale(1.5, 1.5);
}

.post-rating-container form {
  max-height: 15px;
}

.rating {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.post-map-image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 10px;
  height: 400px;
}
@media only screen and (max-width: 700px) {
  .post-map-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .post-map-image img {
    width: 100%;
    height: 300px;

  }
  #map{
    width:91%;
    height: 300px;
  }
}

.post-map-image img {
  max-height: 400px;
}

.post-vote {
  display: flex;
  flex-direction: row;
}

.post-description {
  padding-top: 15px;
  text-align: justify;
  width: 100%;
}

.comment-footer {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.comment-name {
  margin-right: 15px;
}

.error {
  color: red;
  margin: 0px;
  font-weight: bold;
}

.location-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.location-container input {
  border: 1px solid #cccccc;
  border-radius: 5px;
  height: 34px;
  padding: 6px;
}

.location-container #pac-input {
  width: 100%;
}

.location-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
