.postform {
  padding: 15px;
  border-radius: 10px;
  background: white;
}

.postform .btn {
  background: #5db485;
}

.postform .btn:hover {
  background: #20844e;
}

.postform .btn:active {
  background: #FF9F83;
}

.media.data {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(110, 110, 110);
}
