.userform, .userdelete {
  padding: 15px;
  border-radius: 10px;
  background: white;
}

.userform .btn {
  background: #5db485
}

.userform .btn:hover {
  background: #20844e;
}

.userdelete .btn {

}

.userdelete .btn:hover {

}
