.userform, .userdelete {
  padding: 15px;
  border-radius: 10px;
  background: white;
}

.userform .btn {
  background: #5db485
}

.userform .btn:hover {
  background: #20844e;
}

.userdelete .btn {

}

.userdelete .btn:hover {

}

.login-message {
  border: 1px solid red;
  border-radius: 5px;
  padding: 15px;
}

.login-container {
  box-shadow: 0 5px rgb(87, 87, 87);
}
